<div class="animated fadeIn">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Simple Table
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>adress</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><input type="text" class="form-control" placeholder="mike"></td>
                <td><input type="text" class="form-control" placeholder="sample@ssa.co.jp"></td>
              </tr>
              <tr>
                <td>2</td>
                <td><input type="text" class="form-control" placeholder="john"></td>
                <td><input type="text" class="form-control" placeholder="sample@ssa.co.jp"></td>
              </tr>
              <tr>
                <td>3</td>
                <td><input type="text" class="form-control" placeholder="mike"></td>
                <td><input type="text" class="form-control" placeholder="sample@ssa.co.jp"></td>
              </tr>
              <tr>
                <td>4</td>
                <td><input type="text" class="form-control" placeholder="mbob"></td>
                <td><input type="text" class="form-control" placeholder="sample@ssa.co.jp"></td>
              </tr>
              <tr>
                <td>5</td>
                <td><input type="text" class="form-control" placeholder="mibbke"></td>
                <td><input type="text" class="form-control" placeholder="sample@ssa.co.jp"></td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
</div>
