<div class="animated fadeIn">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Maileadress Setting
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>adress</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let adress of adresses | slice: begin:begin + length">
              <td>{{ adress.id }}</td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  value="{{ adress.username }}"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  value="{{ adress.adress }}"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item" *ngFor="let n of pagerlist" [class.active]="selectedIndex === n"><a class="page-link" (click)="pager(n)">{{n}}</a></li>
        </ul>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-sm btn-danger">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    </div>
  </div>
</div>
