<div class="animated fadeIn">
  <div class="container">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Sended Mails
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>to</th>
                <th>title</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sendedmail of sendedmails | slice: begin:begin + length">
                <td>{{sendedmail.date}}</td>
                <td>{{sendedmail.to}}</td>
                <td>{{sendedmail.title}}</td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item" *ngFor="let n of pagerlist"><a class="page-link" (click)="pager(n)">{{n}}</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>
